# -------------------------------------------------------------
# Application
# -------------------------------------------------------------

APP_VERSION=0.1.0
PROJECT_NAME=WDL Identity API
PROJECT_DESC=API аутентификации и управления учетными записями
DEBUG=False
API_EXPOSE_PORT=8002

CORS_DISABLE=True
CORS_REGEX=https://.*\.wdl\.ru
PROD_SERVER_URL=


# -------------------------------------------------------------
# PostgreSQL
# -------------------------------------------------------------

POSTGRES_SERVER=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=wdl_identity
POSTGRES_PORT=5432
SQLALCHEMY_ECHO=False
DATABASE_CREATE_TABLES=True
POSTGRES_DOCKER_SERVER=postgres
POSTGRES_DOCKER_PORT=5432


# -------------------------------------------------------------
# Redis
# -------------------------------------------------------------

REDIS_HOST=cache
REDIS_PORT=6379